
<div *ngIf="!aLotOfData">
  <cdk-virtual-scroll-viewport itemSize="1000" minBufferPx="1000" class="viewport">
    <div class="table-container">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Name
            <input type="text" class="search-click" placeholder="" id="nameFilter" [(ngModel)]="nameFilter" (input)="applyFilters()">
          </th>
          <th>ID
          <input type="text" class="search-click" placeholder="" id="idFilter" [(ngModel)]="idFilter" (input)="applyFilters()">
          </th>
          <th>Price
          <input type="text" class="search-click" placeholder="" id="priceFilter" [(ngModel)]="priceFilter" (input)="applyFilters()">
          </th>
          <th (click)="sortProductsByVolume()">
           <div class="d-flex align-items-center">
            Volume
            <span *ngIf="sortingStates['volume'] === 'ascending'">&#x25B2;</span>
            <span *ngIf="sortingStates['volume'] === 'descending'">&#x25BC;</span>
            <button class="icon-button" (click)="togglePopup($event)"></button> <!-- Pass the event -->
            <div class="popup-container" (click)="$event.stopPropagation()">
             <div class="popup" *ngIf="showPopup" >
               <input type="number" class="volume-range" placeholder="From" id="lowerBound" [(ngModel)]="lowerBound" (input)="applyFilters()">
               <input type="number" class="volume-range" placeholder="To" id="upperBound" [(ngModel)]="upperBound" (input)="applyFilters()">
             </div>
            </div>
          </div>
          </th>
          <th>
            <div class="d-flex align-items-center">
              <div class="header-content" (click)="sortProductsByStock()">
                Stock
                <span *ngIf="sortingStates['stock'] === 'ascending'">&#x25B2;</span>
                <span *ngIf="sortingStates['stock'] === 'descending'">&#x25BC;</span>
              </div>
              <div class="form-check form-switch ml-2" (click)="$event.stopPropagation()">
                <input class="form-check-input" type="checkbox" role="switch" id="inStockCheckbox" (change)="toggleInStockFilter()" [checked]="showOnlyInStock" >
              </div>
            </div>
          </th>

          <th (click)="sortProductsByCategory()">
             Category
            <span *ngIf="sortingStates['category'] === 'ascending'">&#x25B2;</span>
            <span *ngIf="sortingStates['category'] === 'descending'">&#x25BC;</span>
            <input type="text" class="search-click" placeholder="" id="categoryFilter" [(ngModel)]="categoryFilter" (input)="applyFilters()" (click)="$event.stopPropagation()">
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container >
          <tr *cdkVirtualFor="let product of products" scope="row">
            <td>{{ product.name }}</td>
            <td>{{ product.id}}</td>
            <td>{{ product.extra.AGA.PRI}}</td>
            <td>{{ product.extra.AGA.VOL}}</td>
            <td>{{ product.extra.AGA.LGA}}</td>
            <td>{{ product.categoryName}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div *ngIf="aLotOfData" (keydown)="onKeyDown($event)">
  <cdk-virtual-scroll-viewport itemSize="10" minBufferPx="200" class="viewport">
    <div class="table-container">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>Name
            <input type="text" class="search-click" placeholder="" id="nameFilter" [(ngModel)]="nameFilter">
          </th>
          <th>ID
          <input type="text" class="search-click" placeholder="" id="idFilter" [(ngModel)]="idFilter" >
          </th>
          <th>Price
          <input type="text" class="search-click" placeholder="" id="priceFilter" [(ngModel)]="priceFilter">
          </th>
          <th (click)="sortProductsByVolume()">
           <div class="d-flex align-items-center">
            Volume
            <span *ngIf="sortingStates['volume'] === 'ascending'">&#x25B2;</span>
            <span *ngIf="sortingStates['volume'] === 'descending'">&#x25BC;</span>
            <button class="icon-button" (click)="togglePopup($event)"></button> <!-- Pass the event -->
            <div class="popup-container" (click)="$event.stopPropagation()">
             <div class="popup" *ngIf="showPopup" >
               <input type="number" class="volume-range" placeholder="From" id="lowerBound" [(ngModel)]="lowerBound">
               <input type="number" class="volume-range" placeholder="To" id="upperBound" [(ngModel)]="upperBound">
             </div>
            </div>
          </div>
          </th>
          <th>
            <div class="d-flex align-items-center">
              <div class="header-content" (click)="sortProductsByStock()">
                Stock
                <span *ngIf="sortingStates['stock'] === 'ascending'">&#x25B2;</span>
                <span *ngIf="sortingStates['stock'] === 'descending'">&#x25BC;</span>
              </div>
              <div class="form-check form-switch ml-2" (click)="$event.stopPropagation()">
                <input class="form-check-input" type="checkbox" role="switch" id="inStockCheckbox" (change)="toggleInStockFilter()" [checked]="showOnlyInStock" >
              </div>
            </div>
          </th>
          <th (click)="sortProductsByCategory()">  Category
            <span *ngIf="sortingStates['category'] === 'ascending'">&#x25B2;</span>
            <span *ngIf="sortingStates['category'] === 'descending'">&#x25BC;</span>
            <input type="text" class="search-click" placeholder="" id="categoryFilter" [(ngModel)]="categoryFilter" (click)="$event.stopPropagation()">
            <button class="apply-filters" (click)="filterButton($event)">Apply Filters</button>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <ng-container >
          <tr *cdkVirtualFor="let product of products" scope="row">
            <td>{{ product.name }}</td>
            <td>{{ product.id}}</td>
            <td>{{ product.extra.AGA.PRI}}</td>
            <td>{{ product.extra.AGA.VOL}}</td>
            <td>{{ product.extra.AGA.LGA}}</td>
            <td>{{ product.categoryName}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

